<div style="margin: 15px;">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Sprint Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                <div class="container-fluid py-4">
                    <div class="row">
                        <div class=" justify-content-center">
                            <div class="card ">
                                <div class="card-header pb-0">


                                    <ng-container *ngIf="role ==='Employee' ">
                                        <ng-container *ngIf="sprint.sprintState == 1">
                                            <div class="d-flex align-items-center">
                                                <button [disabled]="(isFinished==false)" class="btn btn-success btn-sm ms-auto" (click)="finishSprint(sprint)">Finish Sprint</button>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="sprint.sprintState == 0 && sprint.project.projectState==1">
                                            <div class="d-flex align-items-center">
                                                <button class="btn btn-primary btn-sm ms-auto" (click)="start()">Start Sprint</button>
                                            </div>
                                        </ng-container>
                                    </ng-container>

                                </div>
                                <div class="card-body">
                                    <p class="text-uppercase text-sm">General Information</p>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="example-text-input" class="form-control-label">Sprint Name</label>
                                                <p class=" text-sm" style="margin-left: 5px;"> {{sprint.name}} </p>

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="example-text-input" class="form-control-label">Current State </label>
                                                <div class="align-middle text-center text-sm" [ngSwitch]="sprint.sprintState" style="margin-right: 100px;">
                                                    <span class="badge badge-sm bg-gradient-danger" *ngSwitchCase="0"> To Do </span>
                                                    <span class="badge badge-sm bg-gradient-primary" *ngSwitchCase="1"> In Progress </span>
                                                    <span class="badge badge-sm bg-gradient-info" *ngSwitchCase="2"> Done </span>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="horizontal dark">
                                        <p class="text-uppercase text-sm">Estimated Duration</p>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="example-text-input" class="form-control-label">Days</label>
                                                    <p class=" text-sm" style="margin-left: 5px;"> {{estimatedDurationConversionDays(sprint.estimatedDuration)}} </p>

                                                </div>
                                            </div>
                                        </div>
                                        <hr class="horizontal dark">

                                        <p class="text-uppercase text-sm">Dates</p>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="example-text-input" class="form-control-label">Start Date</label>
                                                    <p class=" text-sm" style="margin-left: 5px;"> {{sprint.startDate| date:'yyyy-MM-dd HH:mm:ss'}} </p>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="example-text-input" class="form-control-label">End Date </label>

                                                    <p class=" text-sm" style="margin-left: 5px;"> {{sprint.endDate| date:'yyyy-MM-dd HH:mm:ss'}} </p>

                                                </div>
                                            </div>

                                        </div>



                                    </div>

                                    <hr class="horizontal dark">
                                    <label for="example-text-input" class="form-control-label">User Stories</label>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group" *ngFor="let userStory of sprint.userStories">
                                                <input style="margin-left: 5px;" disabled type="checkbox" value="{{sprint.id}}" id="sprint" [checked]="checkUserStoryState(userStory)">
                                                <label class="form-check-label" for="sprint">
                                                {{userStory.name}}
                                             </label><br>


                                            </div>

                                        </div>

                                    </div>
                                    <hr class="horizontal dark">
                                    <p class="text-uppercase text-sm">Description </p>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <p class=" text-sm" style="margin-left: 5px;"> {{sprint.description}} </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button style="margin: 7px;" type="button" class="btn btn-secondary" (click)="close()">Close</button>
            </div>
        </div>
    </div>
</div>