<ng-container *ngIf="role==='Employee'">

    <body class="g-sidenav-show   bg-gray-100">
        <div class="min-height-300 bg-primary position-absolute w-100"></div>
        <aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
            <div class="sidenav-header">
                <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
                <a class="navbar-brand m-0" href="/home">
                    <img src="../assets/img/pgh-logo.png" class="navbar-brand-img h-100" alt="main_logo">
                    <span class="ms-1 font-weight-bold">Poulina Group Holding</span>
                </a>
            </div>
            <hr class="horizontal dark mt-0">
            <div class="  w-auto " id="sidenav-collapse-main">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="/timesheet">
                            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="ni ni-calendar-grid-58 text-warning text-sm opacity-10"></i>
                            </div>
                            <span class="nav-link-text ms-1">TimeSheet</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tasks">
                            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="bi bi-check-circle-fill text-success text-sm opacity-10"></i>
                            </div>
                            <span class="nav-link-text ms-1">Tasks</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/userstories">
                            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="bi bi-bookmark-fill text-warning text-sm opacity-10"></i>
                            </div>
                            <span class="nav-link-text ms-1">User Stories</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  " href="/sprints">
                            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="bi bi-clock-history text-info text-sm opacity-10"></i>
                            </div>
                            <span class="nav-link-text ms-1">Sprints</span>
                        </a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link " href="/projects">
                            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="ni ni-folder-17 text-success text-sm opacity-10"></i>
                            </div>
                            <span class="nav-link-text ms-1">Projects</span>
                        </a>
                    </li>
                    <hr class="horizontal dark mt-0">

                    <li class="nav-item" style=" cursor: pointer;">
                        <a (click)="logOut()" class="nav-link">
                            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="bi bi-box-arrow-left text-danger text-sm opacity-10"></i>
                            </div>
                            <span class="nav-link-text ms-1">Log Out</span>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
        <main class="main-content position-relative border-radius-lg ">
            <!-- Navbar -->
            <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
                <div class="container-fluid py-1 px-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                            <h6 class="font-weight-bolder text-white mb-0">TimeSheet</h6>
                        </ol>
                    </nav>
                    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                        <div class="ms-md-auto pe-md-3 d-flex align-items-center ">
                            <div class="input-group">
                            </div>
                        </div>
                        <ul class="navbar-nav  justify-content-end">
                            <li class="nav-item d-flex align-items-center text-white font-weight-bold px-0">
                                <i class="fa fa-user me-sm-1"></i>
                                <span class="d-sm-inline d-none">{{fullName}}</span>
                            </li>



                        </ul>
                    </div>
                </div>
            </nav>
            <!--End Nav-bar-->
            <div class="container-fluid py-4">
                <div class="row">

                    <div class="col-12">
                        <div class="card mb-4">
                            <div class="card-header pb-0 p-3">
                                <div class="row">
                                    <div class="col-6 d-flex align-items-center">
                                        <h6 class="mb-0">Tasks</h6>
                                    </div>
                                    <div class="col-6 text-end float-end" style="width: 15%; margin-left:400px">


                                        <select (change)="selectProject($event)" class="form-select" aria-label="Default select example" style="background-color:#5e72e4; color:white; arrow-color:white" form-select-border-color="#fc5a8d">
                                            <option [disabled]="true" >Select project</option>
                                            <option *ngFor="let Project of Projects" value="{{Project.id}}" >{{Project.name}}</option>
                                          </select>


                                    </div>

                                </div>
                            </div>
                            <div class="card-header pb-0">
                                <h6>Your Tasks</h6>
                            </div>
                            <div class="card-body px-0 pt-0 pb-2">
                                <div class="table-responsive p-0">
                                    <div class="example-container">
                                        <h5><span class="badge badge-sm bg-gradient-secondary"> Pending </span></h5>

                                        <div style="border: none;" cdkDropList #pendingList="cdkDropList" [cdkDropListData]="pending" [cdkDropListConnectedTo]="[todoList]" class="example-list" (cdkDropListDropped)="drop($event,0)">
                                            <div style="margin: 5px 0px;padding: 7px;cursor: grab;" class="container badge bg-gradient-secondary" *ngFor="let item of pending" cdkDrag>{{item.name}}</div>
                                        </div>
                                    </div>
                                    <div class="example-container">
                                        <h5><span class="badge badge-sm bg-gradient-danger"> To Do  </span></h5>

                                        <div style="border: none;" cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[inprogressList]" class="example-list" (cdkDropListDropped)="drop($event,1)">
                                            <div style="margin: 5px 0px;padding: 7px;cursor: grab;" class="container badge bg-gradient-danger" *ngFor="let item of todo" cdkDrag>{{item.name}}</div>
                                        </div>
                                    </div>

                                    <div class="example-container">
                                        <h5><span class="badge badge-sm bg-gradient-warning"> In Progress </span></h5>

                                        <div style="border: none;" cdkDropList #inprogressList="cdkDropList" [cdkDropListData]="inprogress" [cdkDropListConnectedTo]="[doneList]" class="example-list" (cdkDropListDropped)="drop($event,2)">
                                            <div style="margin: 5px 0px;padding: 7px;cursor: grab;" class="container badge bg-gradient-warning" *ngFor="let item of inprogress" cdkDrag>{{item.name}}</div>
                                        </div>
                                    </div>
                                    <div class="example-container">
                                        <h5><span class="badge badge-sm bg-gradient-info"> Done </span></h5>

                                        <div style="border: none;" cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event,3)">
                                            <div style="margin: 5px 0px;padding: 7px;cursor: grab;" class="container badge bg-gradient-info" *ngFor="let item of done" cdkDrag>{{item.name}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </main>
    </body>
</ng-container>
<ng-container *ngIf="role !=='Employee'">
    <div class="min-height-300 bg-primary position-absolute w-100"></div>
    <div class="container py-10" style="width: 1000px;">
        <div class="row">

            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0 p-3">
                        <div class="row">
                            <div style="text-align: center;font-size: 400px;">
                                <h6 style="text-align: center;font-size: 100px;" class="mb-0">403 FORBIDDEN</h6>
                            </div>


                        </div>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <div class="table align-items-center mb-0">


                                <tr>
                                    <th class="text-uppercase text-secondary text-s font-weight-bolder opacity-7 ps-2">Sorry, your access is refused due to security reasons of our server and also our sensitive data. </th>
                                </tr>
                                <tr>
                                    <th class="text-uppercase text-secondary text-s font-weight-bolder opacity-7 ps-2">Please go back to the previous page to continue browsing</th>
                                </tr>



                            </div>
                        </div>
                    </div>
                    <div class="card-header pb-0 p-3">
                        <div class="row">

                            <div class="col-6 text-end float-end" style="width: 15%; margin-left:400px">


                                <a class="btn btn-primary btn-m  " href="javascript:history.back()" type="button" style="margin-top: 20px;width: 100px; ">Go Back</a>



                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</ng-container>